body > footer{
    
    background-repeat: no-repeat;
    background-position: 0 -35px;
    background-color: $blue;
    color:$white;
    padding-top:25px;
    @include min(lg) {
        padding-top:60px;
        //background-image: url($path-images + '/logo-light blue.svg');
    }
    .left{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        ul{
            display: flex;
            flex-direction: column;
            gap: 15px;
            @include min(lg) {
                gap: 30px;
            }
            a{
                font-size: 14px;
                @include min(lg) {
                    font-size: 20px;
                }
            }
        }
    }
    .right{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include max(lg) {
            align-items: center;
            text-align: center;
            margin-top: 30px;
        }
        > svg{
            width: 100%;
            height: auto;
            path{
                fill:$white;
            }
        }

        > img{
            margin-block: 30px;
            @include min(lg) {
                margin-block: 100px;
            }
        }
        a{
            font-size: 14px;
            font-weight: bold;
            @include min(lg) {
                font-size: 20px;
            }
        }
    }

    a, span{color:$white;}
    a:hover, a:focus{
        text-decoration: underline;
    }
    .top{
        font-size: 14px;
        @include min(lg) {
            font-size: 20px;
        }
    }
    .copy{
        border-top: solid 1px $white;
        margin-top: 15px;
        padding-block:15px;
        font-size: 12px;
        @include min(lg) {
            font-size: 16px;
            margin-top: 30px;
            padding-block:30px;
        }
        .w-12{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 10px;
            @include min(lg) {
                flex-direction: row;
            }

        }
    }
}