@mixin fluid-size($min-font-size: 12px, $max-font-size: 21px, $lower-range: 375px, $upper-range: 1920px) {
    font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ((100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));

    @media screen and (max-width: $lower-range) {
        font-size: $min-font-size;
    }

    @media screen and (min-width: $upper-range) {
        font-size: $max-font-size;
    }
}

@mixin fluid-lspace($min-letter-spacing: 12px, $max-letter-spacing: 21px, $lower-range: 375px, $upper-range: 1920px) {
    letter-spacing: calc(#{$min-letter-spacing} + #{(($max-letter-spacing / ($max-letter-spacing * 0 + 1)) - ($min-letter-spacing / ($min-letter-spacing * 0 + 1)))} * ((100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));

    @media screen and (max-width: $lower-range) {
        letter-spacing: $min-letter-spacing;
    }

    @media screen and (min-width: $upper-range) {
        letter-spacing: $max-letter-spacing;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    text-wrap: balance;
    font-weight: normal;
    strong {
        color: $color-secondary;
    }
}

h1 {
    font-size: clamp(40px, 4.8vw, 100px);
    //@include fluid-size(30px, 60px, 450px, 992px);
    --margin-bot: 25px;
    margin-bottom: var(--margin-bot);

    
    @include min(md) {
        --margin-bot: 35px
    }

    @include min(lg) {
        --margin-bot: 50px
    }
}

h2 {
    @include fluid-size(26px, 50px, 450px, 992px);
    --margin-bot: 20px;
    margin-bottom: var(--margin-bot);

    @include min(sm) {
        --margin-bot: 20px
    }

    @include min(md) {
        --margin-bot: 25px
    }

    @include min(lg) {
        --margin-bot: 30px
    }
}

h3 {
    @include fluid-size(22px, 40px, 450px, 992px);
    --margin-bot: 15px;
    margin-bottom: var(--margin-bot);

    @include min(sm) {
        --margin-bot: 15px
    }

    @include min(md) {
        --margin-bot: 20px
    }

    @include min(lg) {
        --margin-bot: 25px
    }
}

.titre {
    font-size: clamp(30px, 3vw, 46px);
    letter-spacing: -1.83px;
    line-height: 1.1;
    margin-bottom: 30px;
    @include min(lg) {
        margin-bottom: 60px;
    }

    * {
        margin-bottom: 0;
        font-size: clamp(30px, 3vw, 46px);
        line-height: 1.1;
        font-weight: normal;
    }
}

.titre-petit {
    font-size: clamp(20px, 1.8vw, 30px);
    letter-spacing: -1.13px;
    line-height: 1.1;
    margin-bottom: 30px;

    * {
        margin-bottom: 0;
        font-size: clamp(20px, 1.8vw, 30px);
        line-height: 1.1;
        font-weight: normal;
    }
}

p,
li,
a,
span,
.texte {
    // @include fluid-size(12px, 16px, 375px, 992px);
    // font-family: $font_primary;
    text-wrap: pretty;
    line-height: 1.43;

    font-size: clamp(14px, 1.2vw, 20px);

    p {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul,
    ol {
        list-style: initial;
        padding-left: 1.2rem;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: clamp(14px, 1.2vw, 20px);
        margin-bottom: 30px;
    }
    
}
.texte{
    margin-bottom: 15px;
    @include min(lg) {
        margin-bottom: 30px;
    }
    a{
        text-decoration: underline;
    }
}
.orangos{
    color:$orange;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
    @include min(lg) {
        font-size: 18px;
        margin-bottom: 20px;
    }
}
.block{
    margin-bottom: 50px;
    *{
        margin-bottom: 0;
    }
}