---
import PostCard from "../PostCard.astro";

const { node } = Astro.props;
---

<section class="ly">
  <div class="container">
    <div class="grid">
      <div class="w-12"><h1>{node.name} - Archive</h1></div>
    </div>
    <div class="grid actu-wrapper">
      {
        node.posts.nodes.map((post) => (
          <PostCard post={post} class="w-6 w-lg-3" />
        ))
      }
    </div>
  </div>
</section>
