---
export const prerender = true;
import MainLayout from "../layouts/MainLayout.astro";
import Archive from "../components/templates/Archive.astro";
import Single from "../components/templates/Single.astro";
import Page from "../components/templates/Page.astro";
import About from "../components/templates/About.astro";
import { getNodeByURI, getAllUris } from "../lib/api";

import { Debug } from "astro/components";

const uri = `/${Astro.params.uri}/`;
const data = await getNodeByURI(uri);
const node = data.nodeByUri;

const pageTemplates = {
  About: About,
  // Ajoute ici d'autres templates : "Recrutement": Recrutement, etc.
};

export async function getStaticPaths() {
  return await getAllUris();
}

function resolveContentTemplate(node) {
  let template;
  switch (node.__typename) {
    case "Post":
      template = Single;
      break;
    case "Page":
      if (
        node.template?.templateName &&
        pageTemplates[node.template.templateName]
      ) {
        return pageTemplates[node.template.templateName];
      }
      return Page;
      break;

    case "Category":
      template = Archive;
      break;
    case "Tag":
      template = Archive;
      break;
    default:
      template = Single;
  }

  return template;
}

const Template = resolveContentTemplate(node);
---

<MainLayout title={node.title || node.name} description={node.excerpt}>
  <main id="main" transition:animate="fade">
    <!--<Debug answer={node} />-->
    <Template node={node} />
  </main>
</MainLayout>
