---
import Hero from "../components/Hero.astro";
import SwiperCard from "../components/SwiperCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { homePagePostsQuery } from "../lib/api";

const data = await homePagePostsQuery();
const posts = data.posts.nodes;

import heroImage from "../assets/images/montagne-nuage.jpg";

const titre = "Starter 2025<br>Astro + Wordpress";

Astro.response.headers.set("Cache-Control", "max-age=600, must-revalidate");
---

<MainLayout title="Home Page">
  <main id="main" data-namespace="home" transition:animate="fade">
    <Hero titre={titre} image={heroImage} />
    <SwiperCard posts={posts} />
  </main>
</MainLayout>
