---
const { menu, generalSettings } = Astro.props;
---

<section class="ly home-entry">
  <div class="container">
    <div class="content grid col-10">
      <h1 class="w-4">Wesign Starter 2022</h1>
      <p class="w-5 s-6">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia
        voluptate, iure ea cumque fugit ipsum consequuntur ducimus obcaecati
        modi cum sit accusamus hic tempore recusandae similique voluptates
        doloribus temporibus a.
      </p>
    </div>
    <span class="btn btn-primary btn-js-scroll">Scroll</span>
  </div>
</section>

<section class="ly home-content">
  <div class="container" style="margin-top: 100px">
    <h3>Container</h3>
    <div class="grid" style="margin-top: 50px">
      <div class="w-24">
        <h4>.grid : 24 columns</h4>
      </div>
      <div class="w-6">
        <h5>.w-6 : width 6</h5>
      </div>
      <div class="w-10">
        <h5>.w-10 : width 10</h5>
      </div>
      <div class="w-8">
        <h5>.w-8 : width 8</h5>
      </div>
    </div>

    <div class="grid col-4" style="margin-top: 50px">
      <div class="w-4">
        <h4>.grid.col-4 : 4 columns</h4>
      </div>
      <div class="w-2">
        <h5>width 2</h5>
      </div>
      <div class="w-1 s-4">
        <h5>.w-1.s-4 : width 1 & start 4th col</h5>
      </div>
    </div>
  </div>

  <div class="container-full" style="margin-top: 100px">
    <h3>Container Full</h3>
    <div class="grid" style="margin-top: 50px">
      <div class="w-24">
        <h4>.grid : 24 columns</h4>
      </div>
      <div class="w-6">
        <h5>.w-6 : width 6</h5>
      </div>
      <div class="w-10">
        <h5>.w-10 : width 10</h5>
      </div>
      <div class="w-8">
        <h5>.w-8 : width 8</h5>
      </div>
    </div>

    <div class="grid col-4" style="margin-top: 50px">
      <div class="w-4">
        <h4>.grid.col-4 : 4 columns</h4>
      </div>
      <div class="w-2">
        <h5>width 2</h5>
      </div>
      <div class="w-1 s-4">
        <h5>.w-1.s-4 : width 1 & start 4th col</h5>
      </div>
    </div>
  </div>

  <div class="container-semi-r" style="margin-top: 100px">
    <h3>Container semi-right</h3>
    <div class="grid" style="margin-top: 50px">
      <div class="w-24">
        <h4>.grid : 24 columns</h4>
      </div>
      <div class="w-6">
        <h5>.w-6 : width 6</h5>
      </div>
      <div class="w-10">
        <h5>.w-10 : width 10</h5>
      </div>
      <div class="w-8">
        <h5>.w-8 : width 8</h5>
      </div>
    </div>

    <div class="grid col-4" style="margin-top: 50px">
      <div class="w-4">
        <h4>.grid.col-4 : 4 columns</h4>
      </div>
      <div class="w-2">
        <h5>width 2</h5>
      </div>
      <div class="w-1 s-4">
        <h5>.w-1.s-4 : width 1 & start 4th col</h5>
      </div>
    </div>
  </div>

  <div class="container-semi-l" style="margin-top: 100px">
    <h3>Container semi-left</h3>
    <div class="grid" style="margin-top: 50px">
      <div class="w-24">
        <h4>.grid : 24 columns</h4>
      </div>
      <div class="w-6">
        <h5>.w-6 : width 6</h5>
      </div>
      <div class="w-10">
        <h5>.w-10 : width 10</h5>
      </div>
      <div class="w-8">
        <h5>.w-8 : width 8</h5>
      </div>
    </div>

    <div class="grid col-4" style="margin-top: 50px">
      <div class="w-4">
        <h4>.grid.col-4 : 4 columns</h4>
      </div>
      <div class="w-2">
        <h5>width 2</h5>
      </div>
      <div class="w-1 s-4">
        <h5>.w-1.s-4 : width 1 & start 4th col</h5>
      </div>
    </div>

    <div class="grid" style="margin-top: 50px">
      <div class="w-24">
        <h4>.grid : 24 columns</h4>
      </div>
      <div class="w-6">
        <h5>.w-6 : width 6</h5>
      </div>
      <div class="w-10">
        <h5>.w-10 : width 10</h5>
      </div>
      <div class="w-8">
        <h5>.w-8 : width 8</h5>
      </div>
    </div>

    <div class="grid col-4" style="margin-top: 50px">
      <div class="w-4">
        <h4>.grid.col-4 : 4 columns</h4>
      </div>
      <div class="w-2">
        <h5>width 2</h5>
      </div>
      <div class="w-1 s-4">
        <h5>.w-1.s-4 : width 1 & start 4th col</h5>
      </div>
    </div>
  </div>
</section>
