---
const { titre, image } = Astro.props;
import { Picture } from "astro:assets";
---

<section class="ly hero-section">
  <div class="container-full">
    <Picture
      src={image}
      formats={["avif", "webp"]}
      alt="A description of my image."
    />
  </div>
  <div class="container">
    <div class="grid">
      <div class="w-12 w-lg-6">
        <h1 set:html={titre} />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora cum
          pariatur, quasi labore laboriosam iste harum ipsa minima voluptas, at
          odio consequatur ratione? Nihil voluptatum officia neque, in quae
          ipsam!
        </p>
      </div>
    </div>
  </div>
</section>
