---
import { Image } from "astro:assets";
import logotype from "../assets/images/logotype.svg";
const { menu, generalSettings } = Astro.props;
---

<header id="header" class="ly">
  <div class="container">
    <a href="/">
      <Image
        src={logotype}
        width="128"
        height="40"
        alt={`logo - ${generalSettings.title}`}
      />
    </a>

    <button class="hamburger" aria-label="Menu" aria-expanded="false">
      <span class="icon" aria-hidden="true">&#9776;</span>
    </button>

    <nav>
      <ul>
        {
          menu.menuItems.nodes.map((menuItem) => (
            <li>
              <a href={menuItem.uri || "/"}>{menuItem.label}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
